body,
html {
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

/* Hero image */

.container {
  height: 100vh;
  background: url("../img/trek.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.overlay {
  background: rgba(0, 0, 0, 0.3);
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.overlay h1 {
  margin: 0;
  text-align: center;
  font-size: 72px;
  margin-top: 30vh;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
  text-shadow: 2px 3px 5px #333;
}

.overlay p {
  margin: 0 auto;
  color: #fff;
  text-align: center;
  width: 50%;
  font-family: sans-serif;
  font-size: 25px;
  margin-top: 5vh;
}

.overlay a {
  text-decoration: none;
  margin: 0 auto;
  margin-top: 8vh;
}

.overlay button {
  margin: 0;
  background: #fff;
  cursor: pointer;
  transition: 0.3s;
  border: none;
  border-radius: 100px;
  height: 50px;
  width: 150px;
  font-size: 16px;
}

.overlay button:hover {
  background: #999;
  font-size: 17px;
  color: #fff;
}

/* Cards */

.offers {
  display: flex;
  flex-direction: column;
  height: 80vh;
  background: #eee;
}

.cardsRow {
  margin: auto;
  width: 80%;
  display: flex;
}

.card {
  margin: 0 auto;
  background: #fff;
  height: 53vh;
  width: 22vw;
  border-radius: 5px;
  box-shadow: 3px 4px 6px #aaa;
}

.cardPic {
  background: url("../img/trek1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 28vh;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.cardContent {
  width: 80%;
  margin: 0 auto;
}

.cardContent h2 {
  margin: 0;
  font-size: 24px;
  margin-top: 3vh;
  color: #444;
  font-family: sans-serif;
}

.cardContent p {
  margin: 0;
  margin-top: 1.5vh;
  color: #666;
  text-align: justify;
}
